
@import '~antd/dist/antd.css';

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;

  .container {
    width: 75vw;
    display: inline-block;
    padding: 20px;
    height: 30vw;
  }

  .leftPane {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding: 20px 40px 20px 20px;
    border-right: 1px solid #D9D9D9;

    input {
      margin-bottom: 20px;
    }

    button {
      width: 10vw;
    }
  }

}
